.container {
    margin-top: 300px;
}



#map-container {
    position: relative;
    height: 180px;
    width:600px;
  }

  #map {
    position: relative;
    height: inherit; 
    width: inherit;
  }
  #space-above {
    height: 200px;
    background-color: #bee9f7;
    width: 600px;
  }