html,
body {
  background-image: url('brewery2.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;

}


#map {
    height: 400px;
    width: 400px;
    position: relative;
    margin: auto;
    padding: 50px;

  }

  #search {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  
#search-box {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}

img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
@media screen and (max-width: 992px) {
  body {
    width: 50%;
  
  }
  #map{
    width: 50%;
  }
}

<<<<<<< HEAD

=======
<<<<<<< Updated upstream
/* Cards are stacked on top of each other at 768px or smaller */
>>>>>>> 3799ff2f3a9dc0b40a2d73f15925c43dc71e83ed
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  #map{
    width: 100%;
  }

}
=======
.navbar-item {
  color:white;
}

.navbar-link {
  color:white;
}
>>>>>>> Stashed changes
