html,
body {
  background-image: url('brewery2.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
}


#map {
    height: 400px;
    width: 400px;
    position: relative;
    margin: auto;
    padding: 50px;

  }

  #search {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  
#search-box {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}

img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

